.blockTile {

  position: relative;
  min-height: 240px;
  padding: 25px 20px;


  >img{
    max-height: 160px;
  }

  &__tile-title {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-family: $circularStd-medium;
    line-height: 23px;
    min-height: 100px;

  }

  &__tile-content {
    padding-top: 25px;
    font-family: $circularStd-book;
    font-size: 16px;
    min-height: 115px;
  }

  &__tile-link{
    text-align: left;
    margin-top: 25px;

    .link-to-page{
      @include btn($padding:7px 15px,$background:#5D76C6,$text:#fff, $border:#5D76C6, $bordeer-radius:5px);
      font-size: 18px;
    text-transform: capitalize;
      text-align: left;
    }



  }

}

@media (max-width: $screen-xs-max) {
  .blockTile {
    margin-bottom: 25px;
  }

}

